/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Barlow+Semi+Condensed:wght@100&family=Bebas+Neue&family=Hubballi&family=Inter:wght@100&family=Libre+Bodoni&display=swap');



/* Styles for the body */

body {
	font-family: 'Libre Bodoni', serif;
	color: #F9F1F1;
	background-color: #F47047;
}

h2 {
	color: #723103
}

h5 {
	color: #F3DECC
}

h4 {
	color: #F78A42
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #EA8C47;
}

.resume-main {
	background-color: #F4C0B0;
}

.resume-aside {
	background-color: #EA704D;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

a:visited {
	color: #FF4500;
}

a:link {
	color: aliceblue;
}